.nav {

    padding-top: 100px;
    padding-bottom: 80px;
    color: black;
    font-size: 40px;
    text-align: center;
    background-color: skyblue;
    border-radius: 10px 10px 50px 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);



}
h2{
   
    border: 2px solid skyblue;
    font-size: 80px;
    padding-left: 100px;
    border-radius: 20px;
}

.btn-link{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.btn{
    background-color: darkslateblue;
    color: white;
    padding: 30px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    border-radius: 20px;

}

.hover:hover {
    background-color: lightblue;
}

#main {
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Three columns of equal width */
    grid-gap: 10px;
    text-align: center;
    padding-bottom: 100px;
}
.block{
    width: 70%;
    margin: 20px auto;
    padding: 20px;
   
    background-color: skyblue;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 40px;
}

#footer {
    background-color: skyblue;
    color: black;
    text-align: center;
    padding: 10px;
    padding-bottom: 100px;
    position: absolute;
    bottom: 0;

    width: 100%;
    border-radius: 50px 50px 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);


}